<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartBus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/SmartBus.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <div class="app-container">

        <nav class="nav">
            <a href="#" class="nav__logo">
                SmartBus
            </a>
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="/Admin/RegisterBus" class="nav__item-link text-white">Register Bus</a>
                </li>
                <li class="nav__list-item">
                    <a href="/Admin/ManageBus" class="nav__item-link text-white">Manage Bus</a>
                </li>
                <li class="nav__list-item">
                    <a href="/Admin/RouteDetail" class="nav__item-link text-white">Route Details</a>
                </li>
                <li class="nav__list-item">
                    <a href="/User/Booking/" class="nav__item-link text-white">Manage Ticket</a>
                </li>
            </ul>
        </nav>

        <div class="app-view">
            <nav class="utility-bar">
                <div class="utility-bar__inner">
                    <ul class="utility-bar__list">
                        <li class="utility-bar__list-item">
                            <a href="#" class="utility-bar__item-link">
                                <!-- by Arthur Shlain https://thenounproject.com/search/?q=mail&i=396565               -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 100 100" width="26px" xml:space="preserve"><path fill="#999" d="M10,66h16v24l24-24h40V10H10V66z M26,26h48v8H26V26z M26,42h48v8H26V42z" /></svg>
                                <!--               Messages -->
                            </a>
                        </li>
                        <li class="utility-bar__list-item">
                            <a href="#" class="utility-bar__item-link">
                                <!-- by Nick Novell https://thenounproject.com/search/?q=notification&i=430200               -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="#999" width="20px" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 0.276083 0.32331250000000004" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><defs>
</defs><g><path class="fil0" d="M0.185915 0.247296c-0.00283406,0.024408 -0.0235765,0.0433539 -0.0487436,0.0433539 -0.0251671,0 -0.0459057,-0.0189459 -0.0487436,-0.0433539l0.0974872 0zm-0.11863 -0.198392c0.015799,-0.0138347 0.0311442,-0.0218257 0.0461308,-0.0250946 6.4844e-005,-0.0131595 0.0107527,-0.0238092 0.0239312,-0.0238092 0.0130794,0 0.0237062,0.0104933 0.0239236,0.0235193 0.0154252,0.00307055 0.0312395,0.0111227 0.047523,0.0253845 0.0264907,0.0291493 0.0340927,0.0621854 0.0291378,0.0978076 -0.00316973,0.076226 0.0178474,0.055453 0.0381511,0.0874021 -0.0460163,0 -0.0920289,0 -0.138041,0 -0.0460163,0 -0.0920289,0 -0.138041,0 0.0203038,-0.031949 0.0413171,-0.0111761 0.0381511,-0.0874021 -0.00495866,-0.0356222 0.00264335,-0.0686583 0.029134,-0.0978076z" /></g></svg>
                                <!--               Alerts -->
                                <span class="utility-bar__indicator">3</span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="utility-bar__account">
                        <span class="utility-bar__account-avatar"></span>
                        <span class="utility-bar__account-name">Admin</span>
                    </a>
                </div>
            </nav>

            <main class="content">
                @RenderBody()
            </main>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>